{% extends 'base.html' %}

{% block header %}
<h1>Регистрация</h1>
{% endblock %}

{% block content %}
<hr>
{% for cat, message in get_flashed_messages(True) %}
<p class="{{cat}}">{{ message }}</p>

{% endfor %}

<form action="{{ url_for('register') }}" method="post" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="name" value="" required />
    <p><label>E-mail: </label> <input type="text" name="email" value="" required />
    <p><label>Пароль: </label> <input type="password" name="password" value="" required />
    <p><label>Повторите пароль: </label> <input type="password" name="password2" value="" required />
    <p><input type="checkbox" name="remainme" /> Запомнить меня
    <p><input type="submit" value="Регистрация" />
</form>

{% endblock %}